{% extends 'website/base.html' %}
{% load app_filters %}
{% block main_container %}

    <h2>Open Violations by County</h2>
    <div>Kansas City, Missouri sits within the bounds of four counties. These are the open violations for each county.
    </div>

    <table class="center">
        {% for key, value in violations_per_county.items %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    </table>
    <b>As you can see, Jackson County, MO is the leader in violations of Kansas City's property codes.</b>
{#    <h2>Top 10 Violating Properties: Jackson County</h2>#}
{#    {% for i in jackson_top_10.items %}#}
{#        <tr>#}
{#            <td>{{ i }}</td>#}
{#        </tr>#}
{#    {% endfor %}#}
    <h2>Top 10 Violating Owners: Jackson County</h2>
    {% for i in jackson_top_10_owners%}
        <tr>
            <td>{{ i }}</td>
        </tr>
    {% endfor %}
{% endblock main_container %}